ul.breadcrumb {

    margin:0.5em 0 0.5em 0 !important;

}
.breadcrumb {
    padding: 0px;
    background-color:transparent;
    list-style: none;
    overflow: hidden;
    margin-top: 10px;
}
.breadcrumb>li+li:before {
    padding: 0;
}
.breadcrumb li {
    float: left;
}
.breadcrumb li.active a {
    background: brown;                   /* fallback color */
    background: #49C144 ;
}
.breadcrumb li.completed a {
    background: brown;                   /* fallback color */
    background: #178E5C;
}
.breadcrumb li.active a:after {
    border-left: 30px solid #49C144 ;
}
.breadcrumb li.completed a:after {
    border-left: 30px solid #178E5C;;
}

.breadcrumb li a {
    color: white;
    text-decoration: none;
    padding: 5px 0 5px 45px;
    position: relative;
    display: block;
    float: left;
}
.breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid #178E5C;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}
.breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}
.breadcrumb li:first-child a {
    padding-left: 15px;
}
.breadcrumb li a:hover { background: #49C144  ; }
.breadcrumb li a:hover:after { border-left-color: #49C144   !important; }