#maincalcdiv {
  background-image: url("/src/static/maincalc-wallpaper.png");
  background-position: center;
  background-size: cover;
}

@media (max-width: 992px) {
  #appliedTaxesDiv {
    margin-top: 20px;
  }
}
