.calculatorCard{
  background-image: url("/src/static/calculadora-rosa.png");
  background-position: top right;
  background-size: auto;
  background-repeat: no-repeat;
  height: 4.0em;
  background-color: #ff9a78;
}

#maincalcdiv {
  background-image: url("/src/static/maincalc-wallpaper.png");
  background-position: center;
  background-size: cover;

}

@media (max-width: 992px) {
  #appliedTaxesDiv {
    margin-top: 20px;
  }
}


.user-initials{
  background-color: darkblue;
  height:60px;
  width:60px;
  color:white;
  line-height: 60px;

}

.bg-light-grey{
  background-color:#acbf9d;
}
