.calculatorCard{
  background-image: url("/src/static/calculadora-top.png");
  background-position: top right;
  background-size: auto;
  background-repeat: no-repeat;
  height: 4.0em;
  background-color: #30b552;
}
.calculatorCardPublic{
    background-image: url("/src/static/calculadora-public-top.png");
    background-position: top right;
    background-size: auto;
    background-repeat: no-repeat;
    height: 4.0em;
    background-color: #70b0d2;
}
.calculatorCardMis{
    background-image: url("/src/static/calculadora-mis-top.png");
    background-position: top right;
    background-size: auto;
    background-repeat: no-repeat;
    height: 4.0em;
    background-color: #cfccc9;
}

/*#maincalcdiv {
  background-image: url("/src/static/maincalc-wallpaper.png");
  background-position: center;
  background-size: cover;

}*/

@media (max-width: 992px) {
  #appliedTaxesDiv {
    margin-top: 20px;
  }
}


.user-initials{
  background-color: #5f859e;
  height:60px;
  width:60px;
  color:white;
  line-height: 60px;
  border: 2px solid black;

}

.user-initials a{
  color: white!important;

}



.bg-light-grey{
  background-color:#acbf9d;
}

.fact{
  margin-right:5px;
}

.brokerAction i{
  cursor:pointer;

}

.bg-userCard{
  border: 1px solid #4c6575;

}

.contH3 h3{
  height:9vh;
  line-height: 9vh;
  text-align: left;
}